<%- include('./partials/header') %>

<body class="page-body">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-3 col-lg-4 mx-auto">
        <div class="card card-signin my-4" id="confirm-box">
          <div class="card-body">
            <h5 class="card-title text-center">Booking confirmed! <i class="fa fa-check-circle" style="color: lightgreen;"></i></h5>
            <% for(var i = 0; i<ticket.length; i++){ %>
            <div class="passenger-details">
              <h5 class="card-subtitle text-center">PNR : <strong><%=ticket[i].pnrNo%></strong></h5>
              <strong>Name:</strong> <%=ticket[i].passengerDetails.passengerName%> <br>
              <strong>Contact:</strong> <%=ticket[i].passengerDetails.passengerContact%> <br>
              <strong>Flight No:</strong> <%=ticket[i].flightNo%> <br>
              <strong>Date:</strong> <%=ticket[i].date.toString().slice(0, 16)%> <br>
              <strong>Fare:</strong> <%=ticket[i].fare%> <br>
              <strong>Class:</strong> <%=ticket[i].class%> <br>
              <strong>Departure Time:</strong> <%=ticket[i].departureTime%> <br>
              <strong>Arrival Time:</strong> <%=ticket[i].arrivalTime%> <br>
            </div>
            <br>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>



<%- include('./partials/footer') %>