<%- include('./partials/header') %>
<body class="page-body">
    <div class="container" style="margin-top: 50px;">
        <div class="row">
          <div class="col-sm-4 col-md-3 col-lg-4 mx-auto">
            <div class="card card-signin my-4">
              <div class="card-body">
                <h5 class="card-title text-center">Booking confirmed!<img src="../images/greentick.jpg" id="greentick" alt=""></h5>
                <% for(var i = 0; i<ticket.length; i++){ %>
                <h5 class="card-subtitle text-center" style="color:  #084177;">Your PNR is <strong><%=ticket[i].pnrNo%></strong></h5>
                <div class="passenger-details">
                    <strong>Flight No:</strong> <%=ticket[i].flightNo%> <br>
                    <strong>Date:</strong> <%=ticket[i].date%> <br>
                    <strong>Fare:</strong> <%=ticket[i].fare%> <br>
                    <strong>Class:</strong> <%=ticket[i].class%> <br>
                    <strong>Departure Time:</strong> <%=ticket[i].departureTime%> <br>
                    <strong>Arrival Time:</strong> <%=ticket[i].arrivalTime%> <br>
                    <strong>Name:</strong> <%=ticket[i].passengerDetails.passengerName%> <br>
                    <strong>Contact:</strong> <%=ticket[i].passengerDetails.passengerContact%> <br>
                </div>
                <br>
                <% } %>
              </div>
            </div>
        </div>
    </div>
</div>

</body>

 

<%- include('./partials/footer') %>

